.about_head , .social_responsibility,  .founder {
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;
}
.about_head_left > h4  {
  color: #F70D1A;
  margin-top: 3%;
  font-size: 30px;
  padding-left: 20px;
}
.about_head_right > h4{
  color: #F70D1A;
  margin-top: 3%;
  font-size: 30px;
}
.about_head_left > p{
  padding: 20px;
}
.vision{
  padding: 20px;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  margin: 20px;
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  border-radius: 15px;
  
}
.vision > h5{
  color: #F70D1A;
  text-align: center;
  padding-top: 15px;

}
.vision > img, .mission > img{
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.mission{
  padding: 20px;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  margin: 20px;
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  border-radius: 15px;

}
.mission > h5{
  color: #F70D1A;
  text-align: center;
  padding-top: 15px;

}

.content-sec2{
  margin-top: 50px;
  background-color: #1f1f1f;
  color: #fff;
   padding-top: 2%;
   padding-bottom: 5%;
 
 }
 
 
 .content-sec2 .c-block-right{
   height: 400px;
   text-align: end;
   display: grid;
   grid-gap: 20px;
  
  
 }
 
 .c-block-right > input{
   margin: 10px 0;
   outline:none ;
   border: none;
   background-color: transparent;
   border-bottom: 1px solid #fff;
 }
 .c-block-right > input[type=text],[type=email],[type=tel]{
 text-align: end;
 color: #fff;
 
 }
 
 .c-block-right > input::placeholder{
   font-size: 25px;
   text-align: end;
   text-transform: capitalize;
   text-align: end;
   
 }
 
 .c-block-right >textarea {
   border: none;
 border-bottom: 1px solid #fff;
 height: 80px;
 outline: none;
 text-align: end;
 color: #fff;
 background: transparent;
 }
 .c-block-right > textarea::placeholder{
   font-size: 25px;
   text-align: end;
   text-transform: capitalize;
   text-align: end;
 }
 button.upload{
   color: #fff;
   text-align: end;
   text-transform: capitalize;
   font-family: 'FuturaPTBold',Helvetica,Arial,Lucida,sans-serif;
   border-bottom: 1px solid #fff;
   border: none;
   font-size: 56px;
   background-color: transparent;
   font-weight: 800;
 outline: none;
 text-decoration: underline;
 }
 .upload[type=button]{
   outline: none;
 }
 .upload:hover{
   color: #F70D1A;
   outline: none; 
 }

 .about_head_content{
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;

}
.social_responsibility_content_left h4{
  color: #F70D1A;
  text-align: left;
  margin-top: 3%;
  font-size: 30px;
}
.social_responsibility_content_left{
  padding-top:50px;
  text-align: left;
  
}
.save_children{
  
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;
  
}

.save_children_content_right >h4{
  color: #F70D1A;
  text-align: left;
  font-size: 30px;
}
.founder_1, .founder_2{
  padding: 20px;
  padding-right: 50px;
  padding-left:50px ;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  margin: 20px;
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  border-radius: 15px;
}
.founder_1 > h4, .founder_2 > h4{
  padding-top: 20px;
}
.founder_1 > p, .founder_2 > p{
  padding-top: 10px;
}
.founder_1 > h4, .founder_2 > h4{
text-align: center;
color: #F70D1A;
}
.founder_1 > h5, .founder_2 > h5{
text-align: center;
color:#fff;
}
.founder_1 > img, .founder_2 > img{
height: 300px;
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}
.founder_1_read_more_click, .founder_2_read_more_click,.founder_1_read_less_click, .founder_2_read_less_click{
  color: #F70D1A;
  cursor: pointer;
}
