*{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #1f1f1f;
}

.landing_page_1{
    padding-top: 2%;
    padding-bottom: 5%;
}
#logo{
    color:#F70D1A;
    font-family: omegacentauri;
    text-align: center;
    padding-top:20px ;
}
.logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;

}
.motor_sales{
    background-color: #F70D1A;
    color: #fff;
    width: 320px;
    height: 50px;
    text-align: center;
    margin: 20px auto;
    padding-top: 15px;
    text-transform: capitalize;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    
}
.indus-descibe{
    line-height: 35px;
    color: #fff;
    margin: 50px 20px;

}
.off_shore{
    color: #fff;
    display: grid;
    grid-template-columns: 250px 1fr;
    padding-left: 20px;
}
.collapse_button{
    color: #1f1f1f;
}
.collapse_button > button{
    padding: 10px;
}
#collapseExample > .card-body{
    width: 500px;
    margin-top: 20px;
}
#collapseExample1 > .card-body1{
    width: 500px;
    margin-top: 20px;
}