.landing_pg_vedio{
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;
}
.video_header{
  padding-left: 15%;
  padding-right: 15%;
}

.tuning_works{
    background-color: #1f1f1f;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 5%;  
    border-bottom: 8px solid #F70D1A;
}
.tuning_works > h2{
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
   border-bottom: 4px solid #F70D1A;
   border-top: 4px solid #F70D1A;
    color: #fff;
    width: 230px;
    height: 43px;
    text-align: center;
    margin: 20px auto;
    padding-top: 5px;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 25px;
}
.tuning_icon{
  padding-left: 40px;
  padding-right: 40px;
  max-width: 250px;
}
.tuning_works_content {
  padding: 20px;
  height: 400px;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  cursor: pointer;
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
}
.tuning_works_content > h5 {
  color: #F70D1A;
  text-align: center;
  text-transform: capitalize;
  padding-top: 30px;
  
}
.tuning_works_content > p {
  text-align: justify;
  padding-top: 10px;
  
} 
.tuning_works_sub_content{
  padding: 20px;
}
.tuning_works_sub_content > h5 {
  color: #F70D1A;
  text-align: center;
}



/*==== WHY CHOOSE US START ====*/

.why_choose_us{
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;
  border-bottom: 8px solid #F70D1A;
}

.why_choose_us > h2 {
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  border-bottom: 4px solid #F70D1A;
  border-top: 4px solid #F70D1A;
  color: #fff;
  width: 250px;
  height: 43px;
  text-align: center;
  margin: 20px auto;
  padding-top: 5px;
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 25px;
}

.why_choose_us_content{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.why_choose_us > h5{
  text-align: center;
  
}
.why_choose_us_content > h4{
  border-bottom: 4px solid #F70D1A;
  color: #fff;
  width: 250px;
  height: 43px;
  text-align: center;
  margin: 20px auto;
  padding-top: 5px;
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 25px;
}


.why_choose_us_content > p{
  text-align: center;
}
.why_choose_us_content > h5{
  text-align: center;
  color: #F70D1A;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: bold;
}


/*==== WHY CHOOSE US END ====*/



/*==== WHO WE ARE START====-*/
.who_we_are{
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;
  border-bottom: 8px solid #F70D1A; 
}
.who_we_are > h2{
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  border-bottom: 4px solid #F70D1A;
  border-top: 4px solid #F70D1A;
  color: #fff;
  width: 250px;
  height: 43px;
  text-align: center;
  margin: 20px auto;
  padding-top: 5px;
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 25px;
}
.who_we_are_content > h4{
  border-bottom: 4px solid #F70D1A;
  color: #fff;
  width: 250px;
  height: 43px;
  text-align: center;
  margin: 20px auto;
  padding-top: 5px;
  text-transform: capitalize;
  border-radius: 10px;
  font-size: 25px;
}
.who_we_are_content > p{
  padding: 10px;
  padding-top: 20px;
}
/*==== WHO WE ARE END====-*/



/*==== XFactor Difference Starts ====*/
.xfactor_difference{
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 5%;
}
.xfactor_difference_card{
  margin-left: 30%;
  margin-right: 30%;
}
.xfactor_difference_icon{
  height: 175px;
  padding-right: 40px;
  
  
}
.xfactor_difference > h2 {
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  border-bottom: 4px solid #F70D1A;
  border-top: 4px solid #F70D1A;
    color: #fff;
    width: 250px;
    height: 43px;
    text-align: center;
    margin: 20px auto;
    padding-top: 5px;
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 25px;
}

.xfactor_difference_boder{
  padding: 20px;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  margin: 30px;
  
}

.xfactor_difference_content_left > h5{
  color: #F70D1A;
  text-align: center;
  margin-top: -30px;
}

.xfactor_difference_content_left > p{
  text-align: center;
}

.xfactor_difference_content_right > h5{
  color: #F70D1A;
  
}

.xfactor_difference_content_right {
  padding-top: 40px;
}
.read_more, .read_less{
  color: #F70D1A;
  cursor: pointer;
}

@media screen and (max-width: 600px) {    
body {
font-size: 12px;
}
/*tuning works*/
.tuning-img{
  width:150px;
}
.tuning_works_sub_content{
  width: 150px;
font-size: 12px;

}
.tuning_works .col-md-6{
  width:50%;
}
.tuning_works > h2, .why_choose_us > h2, .xfactor_difference > h2, .who_we_are > h2 {
  width: 170px;
  height: 38px;
  padding-top: 4px;
  font-size: 18px;
}
.tuning_works, .why_choose_us, .who_we_are{
  border-bottom: 5px solid #F70D1A;
}
/*why chooses_us*/
.why_choose_us > h5{
  font-size: 16px;
}
.why_choose_us_content > h4, .who_we_are_content > h4{
  width: 170px;
  height: 38px;
  padding-top: 4px;
  font-size: 18px;
}
.who_we_are_content > h4{
  margin-right: 55px;
}



  }
