*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
} 
.special_case{
  color: #F70D1A;
}
.left_right_aline{
    padding-left: 30px;
    padding-right: 10px;
  }
.icon{
    position: fixed;
    left: 0px;
    top: 10px;
    height: 50px;
    width: 50px;
    transform: translate(-50% -50%);
    float: left;
    margin: 0 5px;
    overflow: hidden;
    color: #fff;
    border-radius: 40px;
    background: linear-gradient(145deg, #1c1c1c, #212121);
    cursor: pointer;
    box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
    font-size: 25px;
    line-height: 50px;
    z-index: 1;
  }
  .hamburger{
    width: 25px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 25px;
    left: 12px;
    transform: translate(-50% -50%);
    transition: .5s;
    border-radius: 2px;
  }
  .hamburger:before{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: .5s;
    top: -8px;
    border-radius: 2px;
    
  }
  .hamburger:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: .5s;
    top: 8px;
    border-radius: 2px;
    
  }
  .icon.active .hamburger{
    background: #1c1c1c;
  } 
  .icon.active .hamburger:before{
    top: 0;
    transform: rotate(45deg);
  }
  .icon.active .hamburger:after{
    top: 0;
    transform: rotate(135deg);
  }
.wrapper_menu{
    position: fixed;
    left: 60px;
    top: 10px;
    z-index: 1;
}
.wrapper_menu .button_menu{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    overflow: hidden;
    color: #fff;
    border-radius:40px;
    background: linear-gradient(145deg, #1c1c1c, #212121);
    cursor: pointer;
    box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
    transition: all 0.3s ease-out;
  }
  .wrapper_menu .button_menu:hover{
    width: 200px;
  }
  .wrapper_menu .button_menu .icon_menu{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 40px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.3s ease-out;
 
  }
  a{
      text-decoration: none;
      color: #1f1f1f;
  }
  .wrapper_menu .button_menu:nth-child(1):hover .icon_menu{
    background: #fff;
  }
  .wrapper_menu .button_menu:nth-child(2):hover .icon_menu{
    background: #fff;
  }
  .wrapper_menu .button_menu:nth-child(3):hover .icon_menu{
    background: #fff;
  }
  
  .wrapper_menu .button_menu .icon_menu i{
    font-size: 25px;
    line-height: 50px;
    transition: all 0.3s ease-out;
  }
  .wrapper_menu .button_menu:hover .icon_menu i{
    color: #fff;
  }
  .wrapper_menu .button_menu span{
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper_menu .button_menu:nth-child(1) span{
    color: #fff;
  }
  .wrapper_menu .button_menu:nth-child(2) span{
    color: #fff;
  }
  .wrapper_menu .button_menu:nth-child(3) span{
    color: #fff;
  }
.section-1{
    background-color: #1f1f1f;
    padding-top: 2%;
    padding-bottom: 5%;
}
.logo{
    /* margin-top: -2%; */
    float: right;
    width: 40px;
    height: 60px;
    position: relative;
    top: 20px;
    left: -50px;
}
/* side bar */
.sidenav  {
    overflow-x: hidden;
    overflow-y:scroll;
    padding-bottom: 50px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    color: #fff;
    background-color: #1f1f1f;  /*backgroumd-color changes here */
    border-radius:  2px 5px 1px 5px;
    transition: 0.2s;
    padding-top: 60px;
    border: none;
    /* border: 3px solid #fff; */
    box-shadow:0px 1px  10px 0px rgb(231, 229, 229);
}
/*.sidenav > i{
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(145deg, #1c1c1c, #212121);
  cursor: pointer;
  box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
  color: #F70D1A;
  top: 0px;
  right: 0px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
}*/
.sidenav > .closebtn{
  position: absolute;
  top: 15px;
  right: 12px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-size: 40px;
  transform: translate(-50% -50%);
  text-align: center;
}
  .sidenav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav > a:hover {
    color: #f1f1f1;
  }
  
.side-icon {
    padding: 2px 20px;
    position: fixed;
    font-size: 20px;
    top:80%;
    right:2px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border-radius: 50%; */
    background-color: #fff;
    /* transform: rotateZ(90deg); */
    background: linear-gradient(145deg, #1c1c1c, #212121);
    cursor: pointer;
    box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
.side-icon > i {
 transform: rotateZ(90deg);
 color: #F70D1A;
}

.details-structure > .side-header{
    padding: 0 1rem;
}
.side-header >.side-body {
    padding:0 1px;
}

.side-body > address {
    /* text-align: center; */
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    /* border-width: thin medium thick 10px; */
    line-height: 22px;
    height: 150px;
}
.side-body > address > p {
    font-size: 20px;
    margin: 0;
    color: #F70D1A; /* color changes here */
    font-weight: 700;
} 

.contact-touch > h3 , .contact-social > h3 , .contact-locate > h3{
    font-size: 16px;
    line-height: 40px;
    color: #F70D1A;    /* color changes here */
    font-weight: 700;
  
}
.contact-touch{
  border-bottom: 1px solid #fff;
}
.contact-touch > div > div> i {
  font-size: 25px;
  padding-bottom: 20px;
  cursor: pointer;
}
.contact-touch > div > div > a {
  text-align: left;
  text-decoration: none;
  color: #fff;
}
.contact-touch > div > div > a:hover{
  color: #F70D1A;
}
.contact-social {
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    line-height: 25px;
    height: 100px;  
   margin-top: 20px;
}
.contact-social > .social  {
    line-height:20px ;
   display: flex;
   font-size: 20px;
}
.social > a{
    padding: 0;
    text-decoration:none;
    color: #fff;
}
.social >a:hover{
  color: #F70D1A;
}
.social{
    margin-left: 5%;
    margin-right: 5%;
}

.contact-locate > p > a{
    text-decoration: none; 
    font-size: 15px;
    margin-bottom: 2%;
}
.sidebarActive{
  width: 300px;
}


.footer{
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 2%;
  font-size: 15px;
  border-bottom: 4px solid #F70D1A;
}
.footer_bg{
  background-image: url(images/About/Footer-Image.png);
}
.footer_logo{
  text-align: center;
  padding: 20px;
}
.footer_content_left{
  border-right: 4px solid #F70D1A;

}
.footer_content_left > h4{ 
    padding-top: 20px;
    color: #F70D1A;
  }
.footer_content_left > p {
padding-top: 20px;
}
.footer_content_right{ 
  padding-top: 20px;
}
.footer_content_right_list{
  padding-left: 30px;
  padding-right: 0px;
}
.footer_content_right_list > h5 >a{
color: #F70D1A;
text-decoration: none;
cursor: pointer;
padding-left: 20px;
}

.footer_content_right_list > div >a {
  text-decoration: none;
  color: #fff;
}
.footer_content_right_list > div > a:hover{
  color: #F70D1A;
}

.footer_content_right_border{
 margin-left: 40px;

}
.footer_blog{
  padding: 0px 0px 0px 0px;
  
}
.footer_blog > h5 >a{
  text-align: center;
  color: #F70D1A;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 0px 0px 40px; 
  } 

.copyright{
  text-align: center;
  padding-top: 20px;
  line-height: 7px;
  border-top: 2px solid #F70D1A;
}
.madeby{
color: #fff;
}
.madeby:hover{
  color: #F70D1A;
}
.gotop{
    position: fixed;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #F70D1A;
    bottom: 20px;
    right: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
  }
  .gotop:hover{
    color: #F70D1A;
  }
  .chatbox{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(145deg, #1c1c1c, #212121);
    cursor: pointer;
    box-shadow: 5px 5px 12px #121212, -5px -5px 12px #2c2c2c;
    color: #F70D1A;
    bottom: 20px;
    left: 0px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
  }
  .chatbox:hover{
    color: #F70D1A;
  }



  @media screen and (max-width: 600px) {  
    
    /*side bar*/
    .sidebarActive {
      width: 100%;
    }
    .left_right_aline{
    padding-left: 30px;
    padding-right: 5px;
  }
    /*logo*/
    .logo{
      float: right;
      width: 25px;
      height: 35px;
      position: relative;
      top: 20px;
      left: -20px;
    }
    /*menu*/
    .wrapper_menu .button_menu:nth-child(1){
      position: fixed;
      left: 0px;
      top: 70px;
      z-index: 1;
    }
    .wrapper_menu .button_menu:nth-child(2){
      position: fixed;
      left: 0px;
      top: 130px;
      z-index: 1;
    }
    .wrapper_menu .button_menu:nth-child(3){
      position: fixed;
      left: 0px;
      top: 190px;
      z-index: 1;
    }
    .footer_logo{
      display: block;
      margin-right: auto;
      width: 40%;
    }
    .footer_content_left{
      border-right: 0px;
      margin-left: 20px;
      text-align: justify;
    
    }
    .footer_content_right{
      margin-left: 20px;
    
    }
  }